<div class="container-scroller bg-white" style="height: 60em">
  <div
    class="auth-form-light text-left py-5 px-4 px-sm-5"
    style="margin: 15% 30% 10% 30%; background-color: #eee"
  >
    <% if (infoLoginObj != '') { %>
    <div class="col-12 alert alert-success alert-dismissible">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <h3><%= infoLoginObj %></h3>
    </div>
    <% } %> <% if (infoErrorsObj != '') { %>
    <div class="col-12 alert alert-danger alert-dismissible">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <h3><%= infoErrorsObj %></h3>
    </div>
    <% } %>
    <div class="col-12 mt-xl-1">
      <!-- <h2>Email: <%= data.email %></h2>
      <h2>Name: <%= data.name %></h2>
      <h2>Gender: <%= data.gender %></h2>
      <h2>Address: <%= data.address %></h2> -->
      <table class="align-items-center">
        <tr>
          <td>
            <img
              class="align-items-center align-content-center col-md-11 border-left mt-1"
              src="./img/1.jpg"
              width="128"
              height="128"
              alt=""
            />
          </td>
          <td>
            <H2 class="text-warning">Name: <%= data.name%></H2>
            <H3 class="sdt">Phone: <%= data.tel %></H3>
            <H3 class="diachi">Address: <%= data.address %></H3>
            <H3 class="gioitinh">Gender: <%= data.gender %></H3>
          </td>
        </tr>
      </table>
      <!-- Dưới cái dòng này chỗ này -->

      <div class="row mt-4">
        <div class="col-8 text-center">
          <a class="btn btn-danger" href="/client"><h3>Go Shopping Now !!!</h3></a>
        </div>
        <div class="col-4 text-left">
          <a class="btn btn-primary" href="/login"><h3>Log Out</h3></a>
        </div>
      </div>
    </div>
    <!-- content-wrapper ends -->
  </div>
</div>
