<!--**********************************
            Content body start
***********************************-->
<style>
  .col-md-3 img {
    width: 100%;
    height: 15vh;
    object-fit: cover;
  }
</style>
<div class="content-body pt-3" style="margin-top: 10%">
  <!-- row -->

  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-8>
      <div class="card mt-4">
        <% if (productList != '') { %> <% productList.forEach(function(product, index){ %>
        <div class="card-body">
          <div class="row rounded">
            <div class="col-md-3">
              <img
                class="img-fluid img-responsive rounded product-image"
                id="product"
                src="<%= product.image_url %>"
              />
            </div>
            <div class="col-md-6 border-left mt-1">
              <h1><%= product.name %></h1>
              <div class="mt-1 mb-1 spec-1"><h4>Loại: <%= product.type %></h4></div>
              <p class="text-justify para mb-0 text-truncate h3">
                Mô tả: <%= product.description %>
              </p>
            </div>
            <div class="align-items-center align-content-center col-md-3 border-left mt-1">
              <div class="d-flex flex-row">
                <h2 class="mr-1"><%= product.price %> VND</h2>
              </div>
              <div class="d-flex flex-column mt-4">
                <!-- <a href="#" class="btn btn-warning btn-sm">Update</a> -->
                <form action="/remove/<%= product._id %>" method="POST" class="d-flex flex-column">
                  <input
                    type="number"
                    name="quantity"
                    id="quantity"
                    min="0"
                    max="100"
                    step="1"
                    class="h2"
                    style="
                      background-color: rgb(182, 241, 159);
                      border: 2px solid rgb(104, 250, 124);
                    "
                    value="<%= dpProduct[index].count %>"
                  />
                  <button class="btn btn-outline-danger btn-md mt-2" type="submit">
                    <h3>Loại bỏ</h3>
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>

        <% }) %> <% } else { %>
        <h4>Không tìm thấy</h4>
        <% } %>
      </div>
    </div>
  </div>

  <div class="row justify-content-center mt-4">
    <div class="col-7 pt-5 pb-5 bg-warning text-white">
      <div class="row">
        <div class="col-8">
          <h2>Tổng cộng: <%= total %> VND</h2>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-7 pt-5 pb-5">
      <div class="row">
        <div class="col-4 text-center">
          <a class="btn btn-danger" href="/client"><h3>Tiếp tục mua!!</h3></a>
        </div>
        <div class="col-4 text-center">
          <form action="/update-cart">
            <a type="submit" class="btn btn-info" href="/pay/#"><h3>Cập nhật giỏ hàng</h3></a>
          </form>
        </div>
        <div class="col-4 text-center">
          <a class="btn btn-primary" href="/pay"><h3>Thanh toán</h3></a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- #/ container -->
<!--**********************************
                  Content body end
      ***********************************-->
