<div class="container-scroller bg-white" style="height: 60em">
  <div
    class="auth-form-light text-left py-5 px-4 px-sm-5"
    style="margin: 15% 30% 10% 30%; background-color: #eee"
  >
    <% if (infoLoginObj != '') { %>
    <div class="col-12 alert alert-success alert-dismissible">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <h3><%= infoLoginObj %></h3>
    </div>
    <% } %> <% if (infoErrorsObj != '') { %>
    <div class="col-12 alert alert-danger alert-dismissible">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <h3><%= infoErrorsObj %></h3>
    </div>
    <% } %>
    <div class="col-12 text-center mt-xl-2">
      <!-- <h2>Email: <%= data.email %></h2>
      <h2>Name: <%= data.name %></h2>
      <h2>Gender: <%= data.gender %></h2>
      <h2>Address: <%= data.address %></h2> -->

      <!-- Thêm chỗ này nè nghen -->
      <!-- Thêm chỗ này nè nghen -->
      <!-- Thêm chỗ này nè nghen -->
      <!-- Thêm chỗ này nè nghen -->
      <!-- Thêm chỗ này nè nghen -->

      <!-- Dưới cái dòng này chỗ này -->
      <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fhocviendigital.com%2Fmodel-race-canh-cua-than-ki-vao-digital-marketing%2Fmodel-race-icon-1%2F&psig=AOvVaw1LPnbUcgJN-PRuoLmnxgLX&ust=1669777802332000&source=images&cd=vfe&ved=0CBAQjRxqFwoTCKjtmZi10vsCFQAAAAAdAAAAABAJ" alt=""HTML5 Icon"
      style="width:128px;heighr:128px;">
      <H1 class="ten">Tên: Hanh</H1>
      <H1 class="diachi">address: Thủ Đức</H1>

      <!-- Thêm chỗ này nè nghen -->
      <!-- Thêm chỗ này nè nghen -->
      <!-- Thêm chỗ này nè nghen -->
      <!-- Thêm chỗ này nè nghen -->
      <!-- Thêm chỗ này nè nghen -->
      <div class="col-12 text-center mt-xl-2">
        <a class="text-danger font-weight-medium" href="/client"><h3>Go Shopping Now !!!</h3></a>
      </div>
      <a href="/login"><button class="btn btn-primary">LOG OUT</button></a>
    </div>
  </div>
  <!-- content-wrapper ends -->
</div>
